# Scrape Payroll

In [258]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas import DataFrame

In [3]:

 # URL of page to be scraped
url = 'https://www.cbssports.com/mlb/news/2019-mlb-opening-day-payrolls-red-sox-cubs-yankees-open-season-above-competitive-balance-tax-threshold/'

In [4]:
tables = pd.read_html(url)
tables

[    Rank                   Team Opening Day payroll Estimated CBT payroll
 0      1         Boston Red Sox        $213,188,334          $248,633,334
 1      2           Chicago Cubs        $208,199,143          $225,199,143
 2      3       New York Yankees        $206,407,750          $223,407,750
 3      4   Washington Nationals        $181,400,409          $198,542,076
 4      5         Houston Astros        $177,443,329          $194,443,329
 5      6  Philadelphia Phillies        $172,374,782          $189,374,782
 6      7     Los Angeles Angels        $167,456,465          $184,456,465
 7      8          New York Mets        $161,865,003          $196,115,003
 8      9    Los Angeles Dodgers        $152,863,333          $198,338,333
 9     10    St. Louis Cardinals        $150,367,083          $174,190,855
 10    11       Colorado Rockies        $149,335,166          $166,335,166
 11    12   San Francisco Giants        $138,030,231          $155,030,231
 12    13       Seattle Mariners        $135,802,314          $154,810,378
 13    14      Milwaukee Brewers        $130,389,362          $147,689,362
 14    15        Cincinnati Reds        $128,815,238          $145,815,238
 15    16        Minnesota Twins        $113,590,267          $136,540,267
 16    17         Atlanta Braves        $110,530,000          $127,911,060
 17    18   Arizona Diamondbacks        $107,584,167          $124,584,167
 18    19      Cleveland Indians        $107,345,783          $124,345,783
 19    20          Texas Rangers        $102,462,762          $129,462,762
 20    21      Oakland Athletics         $96,825,833          $113,825,833
 21    22      Chicago White Sox         $96,697,001          $113,697,001
 22    23         Detroit Tigers         $96,243,400          $113,243,400
 23    24       San Diego Padres         $94,429,433          $125,429,433
 24    25     Kansas City Royals         $83,079,283          $100,079,283
 25    26         Tampa Bay Rays         $68,976,867           $97,976,867
 26    27      Baltimore Orioles         $67,371,100           $84,371,100
 27    28      Toronto Blue Jays         $66,626,457          $118,614,314
 28    29     Pittsburgh Pirates         $65,918,500           $82,918,500
 29    30          Miami Marlins         $62,911,262           $81,120,952]

In [5]:
type(tables)

list

In [6]:
salary_df = tables[0]
salary_df.head()

   Rank                  Team Opening Day payroll Estimated CBT payroll
0     1        Boston Red Sox        $213,188,334          $248,633,334
1     2          Chicago Cubs        $208,199,143          $225,199,143
2     3      New York Yankees        $206,407,750          $223,407,750
3     4  Washington Nationals        $181,400,409          $198,542,076
4     5        Houston Astros        $177,443,329          $194,443,329

In [183]:
salary=salary_df.rename(columns={'Rank':"SALARYRANK", 'Team': "TEAMNAME", "Opening Day payroll": "OPENINGDAYPAYROLL", 'Estimated CBT payroll': 'CBTPAYROLL'})

salary

    SALARYRANK               TEAMNAME OPENINGDAYPAYROLL    CBTPAYROLL
0            1         Boston Red Sox      $213,188,334  $248,633,334
1            2           Chicago Cubs      $208,199,143  $225,199,143
2            3       New York Yankees      $206,407,750  $223,407,750
3            4   Washington Nationals      $181,400,409  $198,542,076
4            5         Houston Astros      $177,443,329  $194,443,329
5            6  Philadelphia Phillies      $172,374,782  $189,374,782
6            7     Los Angeles Angels      $167,456,465  $184,456,465
7            8          New York Mets      $161,865,003  $196,115,003
8            9    Los Angeles Dodgers      $152,863,333  $198,338,333
9           10    St. Louis Cardinals      $150,367,083  $174,190,855
10          11       Colorado Rockies      $149,335,166  $166,335,166
11          12   San Francisco Giants      $138,030,231  $155,030,231
12          13       Seattle Mariners      $135,802,314  $154,810,378
13          14      Milwaukee Brewers      $130,389,362  $147,689,362
14          15        Cincinnati Reds      $128,815,238  $145,815,238
15          16        Minnesota Twins      $113,590,267  $136,540,267
16          17         Atlanta Braves      $110,530,000  $127,911,060
17          18   Arizona Diamondbacks      $107,584,167  $124,584,167
18          19      Cleveland Indians      $107,345,783  $124,345,783
19          20          Texas Rangers      $102,462,762  $129,462,762
20          21      Oakland Athletics       $96,825,833  $113,825,833
21          22      Chicago White Sox       $96,697,001  $113,697,001
22          23         Detroit Tigers       $96,243,400  $113,243,400
23          24       San Diego Padres       $94,429,433  $125,429,433
24          25     Kansas City Royals       $83,079,283  $100,079,283
25          26         Tampa Bay Rays       $68,976,867   $97,976,867
26          27      Baltimore Orioles       $67,371,100   $84,371,100
27          28      Toronto Blue Jays       $66,626,457  $118,614,314
28          29     Pittsburgh Pirates       $65,918,500   $82,918,500
29          30          Miami Marlins       $62,911,262   $81,120,952

# TEAM STATS

In [312]:
 # Store filepath in a variable
file_one = "Resources/Teams.csv"

In [313]:
# Read our Data file with the pandas library
stats_df = pd.read_csv(file_one)

In [314]:
stats_df.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [315]:
stats2019 = stats_df[stats_df["yearID"] == 2019]

In [316]:
display(list(stats2019.columns.values))

['yearID',
 'lgID',
 'teamID',
 'franchID',
 'divID',
 'Rank',
 'G',
 'Ghome',
 'W',
 'L',
 'DivWin',
 'WCWin',
 'LgWin',
 'WSWin',
 'R',
 'AB',
 'H',
 '2B',
 '3B',
 'HR',
 'BB',
 'SO',
 'SB',
 'CS',
 'HBP',
 'SF',
 'RA',
 'ER',
 'ERA',
 'CG',
 'SV',
 'IPouts',
 'HA',
 'HRA',
 'BBA',
 'SOA',
 'E',
 'DP',
 'FP',
 'name',
 'park',
 'attendance',
 'BPF',
 'PPF',
 'teamIDBR',
 'teamIDlahman45',
 'teamIDretro']

# Clean Data

In [317]:
stats2019.reset_index()

,index,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,2895,2019,NL,ARI,ARI,W,2,162,81.0,85,...,136,0.986,Arizona Diamondbacks,Chase Field,2135510.0,101,101,ARI,ARI,ARI
1,2896,2019,NL,ATL,ATL,E,1,162,81.0,97,...,154,0.987,Atlanta Braves,SunTrust Park,2655100.0,105,103,ATL,ATL,ATL
2,2897,2019,AL,BAL,BAL,E,5,162,81.0,54,...,155,0.982,Baltimore Orioles,Oriole Park at Camden Yards,1307807.0,99,102,BAL,BAL,BAL
3,2898,2019,AL,BOS,BOS,E,3,162,81.0,84,...,115,0.985,Boston Red Sox,Fenway Park II,2924627.0,105,104,BOS,BOS,BOS
4,2899,2019,AL,CHA,CHW,C,3,161,80.0,72,...,171,0.980,Chicago White Sox,Guaranteed Rate Field,1649775.0,97,99,CHW,CHA,CHA
5,2900,2019,NL,CHN,CHC,C,3,162,81.0,84,...,141,0.981,Chicago Cubs,Wrigley Field,3094865.0,102,101,CHC,CHN,CHN
6,2901,2019,NL,CIN,CIN,C,4,162,81.0,75,...,124,0.984,Cincinnati Reds,Great American Ball Park,1808685.0,103,103,CIN,CIN,CIN
7,2902,2019,AL,CLE,CLE,C,2,162,81.0,93,...,110,0.985,Cleveland Indians,Progressive Field,1738642.0,104,102,CLE,CLE,CLE
8,2903,2019,NL,COL,COL,W,4,162,81.0,71,...,165,0.984,Colorado Rockies,Coors Field,2993244.0,118,118,COL,COL,COL
9,2904,2019,AL,DET,DET,C,5,161,81.0,47,...,127,0.981,Detroit Tigers,Comerica Park,1501430.0,102,104,DET,DET,DET
10,2905,2019,AL,HOU,HOU,W,1,162,81.0,107,...,96,0.988,Houston Astros,Minute Maid Park,2857367.0,103,100,HOU,HOU,HOU
11,2906,2019,AL,KCA,KCR,C,4,162,81.0,59,...,152,0.988,Kansas City Royals,Kauffman Stadium,1479659.0,101,102,KCR,KCA,KCA
12,2907,2019,AL,LAA,ANA,W,4,162,81.0,72,...,118,0.984,Los Angeles Angels,Angel Stadium of Anaheim,3019012.0,98,98,LAA,ANA,ANA
13,2908,2019,NL,LAN,LAD,W,1,162,81.0,106,...,117,0.982,Los Angeles Dodgers,Dodger Stadium,3974309.0,96,94,LAD,LAN,LAN
14,2909,2019,NL,MIA,FLA,E,5,162,81.0,57,...,135,0.984,Miami Marlins,Marlins Park,811302.0,94,96,MIA,FLO,MIA
15,2910,2019,NL,MIL,MIL,C,2,162,81.0,89,...,135,0.983,Milwaukee Brewers,Miller Park,2923333.0,101,101,MIL,ML4,MIL
16,2911,2019,AL,MIN,MIN,C,1,162,81.0,101,...,130,0.981,Minnesota Twins,Target Field,2294152.0,100,99,MIN,MIN,MIN
17,2912,2019,AL,NYA,NYY,E,1,162,81.0,103,...,135,0.982,New York Yankees,Yankee Stadium III,3304404.0,98,96,NYY,NYA,NYA
18,2913,2019,NL,NYN,NYM,E,3,162,81.0,86,...,129,0.983,New York Mets,Citi Field,2442532.0,92,92,NYM,NYN,NYN
19,2914,2019,AL,OAK,OAK,W,2,162,81.0,97,...,122,0.987,Oakland Athletics,O.co Coliseum,1662211.0,95,93,OAK,OAK,OAK
20,2915,2019,NL,PHI,PHI,E,4,162,81.0,81,...,136,0.984,Philadelphia Phillies,Citizens Bank Park,2727421.0,102,102,PHI,PHI,PHI
21,2916,2019,NL,PIT,PIT,C,5,162,81.0,69,...,130,0.980,Pittsburgh Pirates,PNC Park,1491439.0,96,97,PIT,PIT,PIT
22,2917,2019,NL,SDN,SDP,W,5,162,81.0,70,...,100,0.980,San Diego Padres,Petco Park,2396399.0,95,96,SDP,SDN,SDN
23,2918,2019,AL,SEA,SEA,W,5,162,81.0,68,...,145,0.978,Seattle Mariners,T-Mobile Park,1791863.0,93,94,SEA,SEA,SEA
24,2919,2019,NL,SFN,SFG,W,3,162,81.0,77,...,142,0.985,San Francisco Giants,Oracle Park,2707760.0,94,95,SFG,SFN,SFN
25,2920,2019,NL,SLN,STL,C,1,162,81.0,91,...,168,0.989,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
26,2921,2019,AL,TBA,TBD,E,2,162,81.0,96,...,126,0.985,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
27,2922,2019,AL,TEX,TEX,W,3,162,81.0,78,...,143,0.982,Texas Rangers,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
28,2923,2019,AL,TOR,TOR,E,4,162,81.0,67,...,141,0.984,Toronto Blue Jays,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
29,2924,2019,NL,WAS,WSN,E,2,162,81.0,93,...,111,0.985,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [324]:
#Rename Headers to all CAPS for easy use in SQL
stats2019.rename(columns={"yearID": "YEAR","lgID": "LEAGUE","teamID": "TEAM","divID": "DIVISION",
                          "Rank": "RANK","G": "GAMES","W": "WINS","L": "LOSSES","name": "TEAMNAME",
                           "park": "PARK","attendance": "ATTENDANCE","DivWin": "DIVSIONWIN",
                          "WCWin": "WILDCARDWIN","LgWIN": "LEAGUEWIN","R": "RUNS","AB": "A",
                          "H": "HITS","HR": "HOMERUNS","SO": "STRIKEOUTS","SHO": "DIVISIONWIN", "RA": "OPPONENTRUNS", "ER": "EARNEDRUNS", "LgWin": "DIVISIONCHAMP", "WSWin":"WORLDSERIESCHAMP"}, inplace=True)

stats2019.rename(columns={"DIVSIONWIN": "DIVISIONCHAMP"})

stats2019.head()

,YEAR,LEAGUE,TEAM,franchID,DIVISION,RANK,GAMES,Ghome,WINS,LOSSES,...,DP,FP,TEAMNAME,PARK,ATTENDANCE,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
2895,2019,NL,ARI,ARI,W,2,162,81.0,85,77,...,136,0.986,Arizona Diamondbacks,Chase Field,2135510.0,101,101,ARI,ARI,ARI
2896,2019,NL,ATL,ATL,E,1,162,81.0,97,65,...,154,0.987,Atlanta Braves,SunTrust Park,2655100.0,105,103,ATL,ATL,ATL
2897,2019,AL,BAL,BAL,E,5,162,81.0,54,108,...,155,0.982,Baltimore Orioles,Oriole Park at Camden Yards,1307807.0,99,102,BAL,BAL,BAL
2898,2019,AL,BOS,BOS,E,3,162,81.0,84,78,...,115,0.985,Boston Red Sox,Fenway Park II,2924627.0,105,104,BOS,BOS,BOS
2899,2019,AL,CHA,CHW,C,3,161,80.0,72,89,...,171,0.980,Chicago White Sox,Guaranteed Rate Field,1649775.0,97,99,CHW,CHA,CHA

In [325]:
stats_df=stats2019.drop(columns=['Ghome', 'DP', 'FP', 'BPF', 'PPF', 'teamIDBR', 'teamIDlahman45', "teamIDretro"])
stats_df=stats_df.drop(columns=['franchID'])
stats_df=stats_df.drop(columns=['SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E'])
stats_df=stats_df.drop(columns=['HBP','CS', 'SF'])
stats_df=stats_df.drop(columns=['2B', '3B', 'A'])
stats_df=stats_df.drop(columns=['BB','SB','CG'])
stats_df=stats_df.drop(columns=['YEAR'])

In [327]:
stats_df.head()

,LEAGUE,TEAM,DIVISION,RANK,GAMES,WINS,LOSSES,DIVSIONWIN,WILDCARDWIN,DIVISIONCHAMP,...,RUNS,HITS,HOMERUNS,STRIKEOUTS,OPPONENTRUNS,EARNEDRUNS,ERA,TEAMNAME,PARK,ATTENDANCE
2895,NL,ARI,W,2,162,85,77,N,N,N,...,813,1419,220,1360.0,743,691,4.25,Arizona Diamondbacks,Chase Field,2135510.0
2896,NL,ATL,E,1,162,97,65,Y,N,N,...,855,1432,249,1467.0,743,675,4.19,Atlanta Braves,SunTrust Park,2655100.0
2897,AL,BAL,E,5,162,54,108,N,N,N,...,729,1379,213,1435.0,981,897,5.59,Baltimore Orioles,Oriole Park at Camden Yards,1307807.0
2898,AL,BOS,E,3,162,84,78,N,N,N,...,901,1554,245,1382.0,828,768,4.70,Boston Red Sox,Fenway Park II,2924627.0
2899,AL,CHA,C,3,161,72,89,N,N,N,...,708,1443,182,1549.0,832,769,4.90,Chicago White Sox,Guaranteed Rate Field,1649775.0

In [328]:
display(list(stats_df.columns.values))

['LEAGUE',
 'TEAM',
 'DIVISION',
 'RANK',
 'GAMES',
 'WINS',
 'LOSSES',
 'DIVSIONWIN',
 'WILDCARDWIN',
 'DIVISIONCHAMP',
 'WORLDSERIESCHAMP',
 'RUNS',
 'HITS',
 'HOMERUNS',
 'STRIKEOUTS',
 'OPPONENTRUNS',
 'EARNEDRUNS',
 'ERA',
 'TEAMNAME',
 'PARK',
 'ATTENDANCE']

In [329]:
stats2019_df=stats_df.rename(columns={"WORLDSERIES": "WILDCARDWIN"})

In [330]:
display(list(stats2019_df.columns.values))

['LEAGUE',
 'TEAM',
 'DIVISION',
 'RANK',
 'GAMES',
 'WINS',
 'LOSSES',
 'DIVSIONWIN',
 'WILDCARDWIN',
 'DIVISIONCHAMP',
 'WORLDSERIESCHAMP',
 'RUNS',
 'HITS',
 'HOMERUNS',
 'STRIKEOUTS',
 'OPPONENTRUNS',
 'EARNEDRUNS',
 'ERA',
 'TEAMNAME',
 'PARK',
 'ATTENDANCE']

In [331]:
teamstats=stats2019_df.reset_index()

In [332]:
teamstats

,index,LEAGUE,TEAM,DIVISION,RANK,GAMES,WINS,LOSSES,DIVSIONWIN,WILDCARDWIN,...,RUNS,HITS,HOMERUNS,STRIKEOUTS,OPPONENTRUNS,EARNEDRUNS,ERA,TEAMNAME,PARK,ATTENDANCE
0,2895,NL,ARI,W,2,162,85,77,N,N,...,813,1419,220,1360.0,743,691,4.25,Arizona Diamondbacks,Chase Field,2135510.0
1,2896,NL,ATL,E,1,162,97,65,Y,N,...,855,1432,249,1467.0,743,675,4.19,Atlanta Braves,SunTrust Park,2655100.0
2,2897,AL,BAL,E,5,162,54,108,N,N,...,729,1379,213,1435.0,981,897,5.59,Baltimore Orioles,Oriole Park at Camden Yards,1307807.0
3,2898,AL,BOS,E,3,162,84,78,N,N,...,901,1554,245,1382.0,828,768,4.70,Boston Red Sox,Fenway Park II,2924627.0
4,2899,AL,CHA,C,3,161,72,89,N,N,...,708,1443,182,1549.0,832,769,4.90,Chicago White Sox,Guaranteed Rate Field,1649775.0
5,2900,NL,CHN,C,3,162,84,78,N,N,...,814,1378,256,1460.0,717,657,4.10,Chicago Cubs,Wrigley Field,3094865.0
6,2901,NL,CIN,C,4,162,75,87,N,N,...,701,1328,227,1436.0,711,668,4.18,Cincinnati Reds,Great American Ball Park,1808685.0
7,2902,AL,CLE,C,2,162,93,69,N,N,...,769,1354,223,1332.0,657,601,3.76,Cleveland Indians,Progressive Field,1738642.0
8,2903,NL,COL,W,4,162,71,91,N,N,...,835,1502,224,1503.0,958,895,5.56,Colorado Rockies,Coors Field,2993244.0
9,2904,AL,DET,C,5,161,47,114,N,N,...,582,1333,149,1595.0,915,835,5.24,Detroit Tigers,Comerica Park,1501430.0
10,2905,AL,HOU,W,1,162,107,55,Y,N,...,920,1538,288,1166.0,640,595,3.66,Houston Astros,Minute Maid Park,2857367.0
11,2906,AL,KCA,C,4,162,59,103,N,N,...,691,1356,162,1405.0,869,824,5.20,Kansas City Royals,Kauffman Stadium,1479659.0
12,2907,AL,LAA,W,4,162,72,90,N,N,...,769,1368,220,1276.0,868,820,5.12,Los Angeles Angels,Angel Stadium of Anaheim,3019012.0
13,2908,NL,LAN,W,1,162,106,56,Y,N,...,886,1414,279,1356.0,613,541,3.37,Los Angeles Dodgers,Dodger Stadium,3974309.0
14,2909,NL,MIA,E,5,162,57,105,N,N,...,615,1326,146,1469.0,808,760,4.74,Miami Marlins,Marlins Park,811302.0
15,2910,NL,MIL,C,2,162,89,73,N,Y,...,769,1366,250,1563.0,766,713,4.40,Milwaukee Brewers,Miller Park,2923333.0
16,2911,AL,MIN,C,1,162,101,61,Y,N,...,939,1547,307,1334.0,754,680,4.18,Minnesota Twins,Target Field,2294152.0
17,2912,AL,NYA,E,1,162,103,59,Y,N,...,943,1493,306,1437.0,739,691,4.31,New York Yankees,Yankee Stadium III,3304404.0
18,2913,NL,NYN,E,3,162,86,76,N,N,...,791,1445,242,1384.0,737,688,4.24,New York Mets,Citi Field,2442532.0
19,2914,AL,OAK,W,2,162,97,65,N,Y,...,845,1384,257,1338.0,680,646,3.97,Oakland Athletics,O.co Coliseum,1662211.0
20,2915,NL,PHI,E,4,162,81,81,N,N,...,774,1369,215,1453.0,794,731,4.53,Philadelphia Phillies,Citizens Bank Park,2727421.0
21,2916,NL,PIT,C,5,162,69,93,N,N,...,758,1497,163,1213.0,911,829,5.18,Pittsburgh Pirates,PNC Park,1491439.0
22,2917,NL,SDN,W,5,162,70,92,N,N,...,682,1281,219,1581.0,789,732,4.60,San Diego Padres,Petco Park,2396399.0
23,2918,AL,SEA,W,5,162,68,94,N,N,...,758,1305,239,1581.0,893,798,4.99,Seattle Mariners,T-Mobile Park,1791863.0
24,2919,NL,SFN,W,3,162,77,85,N,N,...,678,1332,167,1435.0,773,715,4.38,San Francisco Giants,Oracle Park,2707760.0
25,2920,NL,SLN,C,1,162,91,71,Y,N,...,764,1336,210,1420.0,662,609,3.80,St. Louis Cardinals,Busch Stadium III,3480393.0
26,2921,AL,TBA,E,2,162,96,66,N,Y,...,769,1427,217,1493.0,656,598,3.65,Tampa Bay Rays,Tropicana Field,1178735.0
27,2922,AL,TEX,W,3,162,78,84,N,N,...,810,1374,223,1578.0,878,808,5.06,Texas Rangers,Globe Life Park in Arlington,2132994.0
28,2923,AL,TOR,E,4,162,67,95,N,N,...,726,1299,247,1514.0,828,767,4.79,Toronto Blue Jays,Rogers Centre,1750114.0
29,2924,NL,WAS,E,2,162,93,69,N,Y,...,873,1460,231,1308.0,724,683,4.27,Washington Nationals,Nationals Park,2259781.0

In [356]:
teamstats_df=teamstats

In [360]:
teamstat_df=teamstats_df.drop(columns=['TEAMID'])

In [361]:
teamstat_df

,index,LEAGUE,TEAM,DIVISION,RANK,GAMES,WINS,LOSSES,DIVSIONWIN,WILDCARDWIN,...,RUNS,HITS,HOMERUNS,STRIKEOUTS,OPPONENTRUNS,EARNEDRUNS,ERA,TEAMNAME,PARK,ATTENDANCE
0,2895,NL,ARI,W,2,162,85,77,N,N,...,813,1419,220,1360.0,743,691,4.25,Arizona Diamondbacks,Chase Field,2135510.0
1,2896,NL,ATL,E,1,162,97,65,Y,N,...,855,1432,249,1467.0,743,675,4.19,Atlanta Braves,SunTrust Park,2655100.0
2,2897,AL,BAL,E,5,162,54,108,N,N,...,729,1379,213,1435.0,981,897,5.59,Baltimore Orioles,Oriole Park at Camden Yards,1307807.0
3,2898,AL,BOS,E,3,162,84,78,N,N,...,901,1554,245,1382.0,828,768,4.70,Boston Red Sox,Fenway Park II,2924627.0
4,2899,AL,CHA,C,3,161,72,89,N,N,...,708,1443,182,1549.0,832,769,4.90,Chicago White Sox,Guaranteed Rate Field,1649775.0
5,2900,NL,CHN,C,3,162,84,78,N,N,...,814,1378,256,1460.0,717,657,4.10,Chicago Cubs,Wrigley Field,3094865.0
6,2901,NL,CIN,C,4,162,75,87,N,N,...,701,1328,227,1436.0,711,668,4.18,Cincinnati Reds,Great American Ball Park,1808685.0
7,2902,AL,CLE,C,2,162,93,69,N,N,...,769,1354,223,1332.0,657,601,3.76,Cleveland Indians,Progressive Field,1738642.0
8,2903,NL,COL,W,4,162,71,91,N,N,...,835,1502,224,1503.0,958,895,5.56,Colorado Rockies,Coors Field,2993244.0
9,2904,AL,DET,C,5,161,47,114,N,N,...,582,1333,149,1595.0,915,835,5.24,Detroit Tigers,Comerica Park,1501430.0
10,2905,AL,HOU,W,1,162,107,55,Y,N,...,920,1538,288,1166.0,640,595,3.66,Houston Astros,Minute Maid Park,2857367.0
11,2906,AL,KCA,C,4,162,59,103,N,N,...,691,1356,162,1405.0,869,824,5.20,Kansas City Royals,Kauffman Stadium,1479659.0
12,2907,AL,LAA,W,4,162,72,90,N,N,...,769,1368,220,1276.0,868,820,5.12,Los Angeles Angels,Angel Stadium of Anaheim,3019012.0
13,2908,NL,LAN,W,1,162,106,56,Y,N,...,886,1414,279,1356.0,613,541,3.37,Los Angeles Dodgers,Dodger Stadium,3974309.0
14,2909,NL,MIA,E,5,162,57,105,N,N,...,615,1326,146,1469.0,808,760,4.74,Miami Marlins,Marlins Park,811302.0
15,2910,NL,MIL,C,2,162,89,73,N,Y,...,769,1366,250,1563.0,766,713,4.40,Milwaukee Brewers,Miller Park,2923333.0
16,2911,AL,MIN,C,1,162,101,61,Y,N,...,939,1547,307,1334.0,754,680,4.18,Minnesota Twins,Target Field,2294152.0
17,2912,AL,NYA,E,1,162,103,59,Y,N,...,943,1493,306,1437.0,739,691,4.31,New York Yankees,Yankee Stadium III,3304404.0
18,2913,NL,NYN,E,3,162,86,76,N,N,...,791,1445,242,1384.0,737,688,4.24,New York Mets,Citi Field,2442532.0
19,2914,AL,OAK,W,2,162,97,65,N,Y,...,845,1384,257,1338.0,680,646,3.97,Oakland Athletics,O.co Coliseum,1662211.0
20,2915,NL,PHI,E,4,162,81,81,N,N,...,774,1369,215,1453.0,794,731,4.53,Philadelphia Phillies,Citizens Bank Park,2727421.0
21,2916,NL,PIT,C,5,162,69,93,N,N,...,758,1497,163,1213.0,911,829,5.18,Pittsburgh Pirates,PNC Park,1491439.0
22,2917,NL,SDN,W,5,162,70,92,N,N,...,682,1281,219,1581.0,789,732,4.60,San Diego Padres,Petco Park,2396399.0
23,2918,AL,SEA,W,5,162,68,94,N,N,...,758,1305,239,1581.0,893,798,4.99,Seattle Mariners,T-Mobile Park,1791863.0
24,2919,NL,SFN,W,3,162,77,85,N,N,...,678,1332,167,1435.0,773,715,4.38,San Francisco Giants,Oracle Park,2707760.0
25,2920,NL,SLN,C,1,162,91,71,Y,N,...,764,1336,210,1420.0,662,609,3.80,St. Louis Cardinals,Busch Stadium III,3480393.0
26,2921,AL,TBA,E,2,162,96,66,N,Y,...,769,1427,217,1493.0,656,598,3.65,Tampa Bay Rays,Tropicana Field,1178735.0
27,2922,AL,TEX,W,3,162,78,84,N,N,...,810,1374,223,1578.0,878,808,5.06,Texas Rangers,Globe Life Park in Arlington,2132994.0
28,2923,AL,TOR,E,4,162,67,95,N,N,...,726,1299,247,1514.0,828,767,4.79,Toronto Blue Jays,Rogers Centre,1750114.0
29,2924,NL,WAS,E,2,162,93,69,N,Y,...,873,1460,231,1308.0,724,683,4.27,Washington Nationals,Nationals Park,2259781.0

# MERGE

In [276]:
combined_df = pd.merge(salary, teamstat,
                                 how='outer', on='TEAMNAME')

In [348]:
combined_df=combined_df.sort_values(by=['TEAMNAME'])

In [353]:
combined_df

    TEAMID  SALARYRANK               TEAMNAME OPENINGDAYPAYROLL    CBTPAYROLL
17      18          18   Arizona Diamondbacks      $107,584,167  $124,584,167
16      17          17         Atlanta Braves      $110,530,000  $127,911,060
26      27          27      Baltimore Orioles       $67,371,100   $84,371,100
0        1           1         Boston Red Sox      $213,188,334  $248,633,334
1        2           2           Chicago Cubs      $208,199,143  $225,199,143
21      22          22      Chicago White Sox       $96,697,001  $113,697,001
14      15          15        Cincinnati Reds      $128,815,238  $145,815,238
18      19          19      Cleveland Indians      $107,345,783  $124,345,783
10      11          11       Colorado Rockies      $149,335,166  $166,335,166
22      23          23         Detroit Tigers       $96,243,400  $113,243,400
4        5           5         Houston Astros      $177,443,329  $194,443,329
24      25          25     Kansas City Royals       $83,079,283  $100,079,283
6        7           7     Los Angeles Angels      $167,456,465  $184,456,465
8        9           9    Los Angeles Dodgers      $152,863,333  $198,338,333
29      30          30          Miami Marlins       $62,911,262   $81,120,952
13      14          14      Milwaukee Brewers      $130,389,362  $147,689,362
15      16          16        Minnesota Twins      $113,590,267  $136,540,267
7        8           8          New York Mets      $161,865,003  $196,115,003
2        3           3       New York Yankees      $206,407,750  $223,407,750
20      21          21      Oakland Athletics       $96,825,833  $113,825,833
5        6           6  Philadelphia Phillies      $172,374,782  $189,374,782
28      29          29     Pittsburgh Pirates       $65,918,500   $82,918,500
23      24          24       San Diego Padres       $94,429,433  $125,429,433
11      12          12   San Francisco Giants      $138,030,231  $155,030,231
12      13          13       Seattle Mariners      $135,802,314  $154,810,378
9       10          10    St. Louis Cardinals      $150,367,083  $174,190,855
25      26          26         Tampa Bay Rays       $68,976,867   $97,976,867
19      20          20          Texas Rangers      $102,462,762  $129,462,762
27      28          28      Toronto Blue Jays       $66,626,457  $118,614,314
3        4           4   Washington Nationals      $181,400,409  $198,542,076

# Subset Dataframes

In [ ]:
#LookUp Table
csv2 = csv1[['Acceleration', 'Pressure']].copy()

csv2 = csv1[['Acceleration', 'Pressure']].copy()

csv2 = csv1[['Acceleration', 'Pressure']].copy()

csv2 = csv1[['Acceleration', 'Pressure']].copy()

csv2 = csv1[['Acceleration', 'Pressure']].copy()

# IMPORT TO SQL

In [338]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///save_pandas.db', echo=True)
sqlite_connection = engine.connect()

2020-11-07 09:01:32,753 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-07 09:01:32,760 INFO sqlalchemy.engine.base.Engine ()
2020-11-07 09:01:32,779 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-07 09:01:32,780 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
sqlite_table = "Payroll"
save_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

In [336]:
#from sqlalchemy import create_engine
#engine = create_engine('postgresql://scott:tiger@localhost:5434/mydatabase')
#df.to_sql('table_name', engine)

In [362]:
onetable_df = pd.merge(teamstat_df, combined_df,
                                 how='outer', on='TEAMNAME')

In [363]:
onetable_df

,index,LEAGUE,TEAM,DIVISION,RANK,GAMES,WINS,LOSSES,DIVSIONWIN,WILDCARDWIN,...,OPPONENTRUNS,EARNEDRUNS,ERA,TEAMNAME,PARK,ATTENDANCE,TEAMID,SALARYRANK,OPENINGDAYPAYROLL,CBTPAYROLL
0,2895,NL,ARI,W,2,162,85,77,N,N,...,743,691,4.25,Arizona Diamondbacks,Chase Field,2135510.0,18,18,"$107,584,167","$124,584,167"
1,2896,NL,ATL,E,1,162,97,65,Y,N,...,743,675,4.19,Atlanta Braves,SunTrust Park,2655100.0,17,17,"$110,530,000","$127,911,060"
2,2897,AL,BAL,E,5,162,54,108,N,N,...,981,897,5.59,Baltimore Orioles,Oriole Park at Camden Yards,1307807.0,27,27,"$67,371,100","$84,371,100"
3,2898,AL,BOS,E,3,162,84,78,N,N,...,828,768,4.70,Boston Red Sox,Fenway Park II,2924627.0,1,1,"$213,188,334","$248,633,334"
4,2899,AL,CHA,C,3,161,72,89,N,N,...,832,769,4.90,Chicago White Sox,Guaranteed Rate Field,1649775.0,22,22,"$96,697,001","$113,697,001"
5,2900,NL,CHN,C,3,162,84,78,N,N,...,717,657,4.10,Chicago Cubs,Wrigley Field,3094865.0,2,2,"$208,199,143","$225,199,143"
6,2901,NL,CIN,C,4,162,75,87,N,N,...,711,668,4.18,Cincinnati Reds,Great American Ball Park,1808685.0,15,15,"$128,815,238","$145,815,238"
7,2902,AL,CLE,C,2,162,93,69,N,N,...,657,601,3.76,Cleveland Indians,Progressive Field,1738642.0,19,19,"$107,345,783","$124,345,783"
8,2903,NL,COL,W,4,162,71,91,N,N,...,958,895,5.56,Colorado Rockies,Coors Field,2993244.0,11,11,"$149,335,166","$166,335,166"
9,2904,AL,DET,C,5,161,47,114,N,N,...,915,835,5.24,Detroit Tigers,Comerica Park,1501430.0,23,23,"$96,243,400","$113,243,400"
10,2905,AL,HOU,W,1,162,107,55,Y,N,...,640,595,3.66,Houston Astros,Minute Maid Park,2857367.0,5,5,"$177,443,329","$194,443,329"
11,2906,AL,KCA,C,4,162,59,103,N,N,...,869,824,5.20,Kansas City Royals,Kauffman Stadium,1479659.0,25,25,"$83,079,283","$100,079,283"
12,2907,AL,LAA,W,4,162,72,90,N,N,...,868,820,5.12,Los Angeles Angels,Angel Stadium of Anaheim,3019012.0,7,7,"$167,456,465","$184,456,465"
13,2908,NL,LAN,W,1,162,106,56,Y,N,...,613,541,3.37,Los Angeles Dodgers,Dodger Stadium,3974309.0,9,9,"$152,863,333","$198,338,333"
14,2909,NL,MIA,E,5,162,57,105,N,N,...,808,760,4.74,Miami Marlins,Marlins Park,811302.0,30,30,"$62,911,262","$81,120,952"
15,2910,NL,MIL,C,2,162,89,73,N,Y,...,766,713,4.40,Milwaukee Brewers,Miller Park,2923333.0,14,14,"$130,389,362","$147,689,362"
16,2911,AL,MIN,C,1,162,101,61,Y,N,...,754,680,4.18,Minnesota Twins,Target Field,2294152.0,16,16,"$113,590,267","$136,540,267"
17,2912,AL,NYA,E,1,162,103,59,Y,N,...,739,691,4.31,New York Yankees,Yankee Stadium III,3304404.0,3,3,"$206,407,750","$223,407,750"
18,2913,NL,NYN,E,3,162,86,76,N,N,...,737,688,4.24,New York Mets,Citi Field,2442532.0,8,8,"$161,865,003","$196,115,003"
19,2914,AL,OAK,W,2,162,97,65,N,Y,...,680,646,3.97,Oakland Athletics,O.co Coliseum,1662211.0,21,21,"$96,825,833","$113,825,833"
20,2915,NL,PHI,E,4,162,81,81,N,N,...,794,731,4.53,Philadelphia Phillies,Citizens Bank Park,2727421.0,6,6,"$172,374,782","$189,374,782"
21,2916,NL,PIT,C,5,162,69,93,N,N,...,911,829,5.18,Pittsburgh Pirates,PNC Park,1491439.0,29,29,"$65,918,500","$82,918,500"
22,2917,NL,SDN,W,5,162,70,92,N,N,...,789,732,4.60,San Diego Padres,Petco Park,2396399.0,24,24,"$94,429,433","$125,429,433"
23,2918,AL,SEA,W,5,162,68,94,N,N,...,893,798,4.99,Seattle Mariners,T-Mobile Park,1791863.0,13,13,"$135,802,314","$154,810,378"
24,2919,NL,SFN,W,3,162,77,85,N,N,...,773,715,4.38,San Francisco Giants,Oracle Park,2707760.0,12,12,"$138,030,231","$155,030,231"
25,2920,NL,SLN,C,1,162,91,71,Y,N,...,662,609,3.80,St. Louis Cardinals,Busch Stadium III,3480393.0,10,10,"$150,367,083","$174,190,855"
26,2921,AL,TBA,E,2,162,96,66,N,Y,...,656,598,3.65,Tampa Bay Rays,Tropicana Field,1178735.0,26,26,"$68,976,867","$97,976,867"
27,2922,AL,TEX,W,3,162,78,84,N,N,...,878,808,5.06,Texas Rangers,Globe Life Park in Arlington,2132994.0,20,20,"$102,462,762","$129,462,762"
28,2923,AL,TOR,E,4,162,67,95,N,N,...,828,767,4.79,Toronto Blue Jays,Rogers Centre,1750114.0,28,28,"$66,626,457","$118,614,314"
29,2924,NL,WAS,E,2,162,93,69,N,Y,...,724,683,4.27,Washington Nationals,Nationals Park,2259781.0,4,4,"$181,400,409","$198,542,076"